
<!doctype html lang="en">
<html class="no-js" lang="en" ng-app="dqApp">
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>DQaaS - Test drive</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="css/sticky-footer-navbar.css" >

  <script src="js/modernizr-1.7.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js"></script>
  
  <script src="js/dq.address-cleanse.ctlr.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->


</head>

<body ng-controller="dq.address-cleanse.ctlr">

	<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">DQaaS [BETA] - Testbed</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="nav-rest"><a href="docs/index.html">Documentation</a></li>
            <li id="nav-rest"><a href="about.html">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="main" class="container" >
         <div class="row">
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="msg" class="alert" role="alert">{{message}}</div>
             </div>
        </div> <!-- row: messages -->
        
        <div class="row">
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Examples:
                            <div class="btn-group btn-group-xs" role="group" aria-label="First group"> 
                                <button type="button" class="btn btn-default" id="button_us" ng-click="example('us')">us</button> 
                                <button type="button" class="btn btn-default" id="button_br" ng-click="example('br')">br</button> 
                                <button type="button" class="btn btn-default" id="button_fr" ng-click="example('fr')">jp</button> 
                                <button type="button" class="btn btn-default" id="button_de" ng-click="example('de')">de</button> 
                                <button type="button" class="btn btn-default" id="button_in" ng-click="example('in')">jp</button> 
                                <button type="button" class="btn btn-default" id="button_jp" ng-click="example('jp')">jp</button> 
                                <button type="button" class="btn btn-default" id="button_mx" ng-click="example('mx')">mx</button> 
                                <button type="button" class="btn btn-default" id="button_ru" ng-click="example('ru')">ru</button>  
                            </div>
                            <div class="btn-group btn-group-xs" role="group" aria-label="Second group">
                            	 <button type="button" class="btn btn-default" id="button_sap" ng-click="example('sap')">sap</button>   
                            </div>
                    </div>
                </div>
            </div>
        </div> <!-- row: toolbar -->
                 
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      		    <form id="contact" name="contact" method="POST" enctype="application/json" autocomplete="on"  class="form-horizontal">
      		        <fieldset>
      		            <!-- Address form -->
                        <a id="address_data"></a>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="myTabs">
                            <li role="presentation" class="active"><a href="#format1" aria-controls="format1" role="tab" data-toggle="tab">Format 1</a></li>
                            <li role="presentation" ><a href="#format2" aria-controls="format2" role="tab" data-toggle="tab">Format 2</a></li>
                            <li role="presentation" ><a href="#format3"a ria-controls="format3" role="tab" data-toggle="tab">Format 3</a></li>
                            <li role="presentation" ><a href="#format4" aria-controls="format4" role="tab" data-toggle="tab">Format 4</a></li>
                        </ul>
                        <p>&nbsp;</p>
      		            <!-- Tab panes -->
                        <div class="tab-content" id="myTabContent">
                            <div role="tabpanel" class="tab-pane active" id="format1">
                                <div class="panel panel-default">                            
                                     <div class="panel-body">
                                         <!-- address-line1 input-->
                                         <div class="control-group" id="address-line1-group">
                                           <label class="control-label">Address Line 1</label>
                                           <div class="controls">
                                               <input id="address-line1" name="address-line1" type="text" placeholder="Street address, P.O. box, company name, c/o" class="form-control" ng-model="addressInput.mixed">
                                               <!-- <p class="help-block"></p> -->
                                           </div>
                                         </div>
                                         <!-- address-line2 input-->
                                         <div class="control-group" id="address-line2-group">
                                             <label class="control-label">Address Line 2</label>
                                             <div class="controls">
                                                 <input id="address-line2" name="address-line2" type="text" placeholder="Apartment, suite , unit, building, floor, etc." class="form-control" ng-model="addressInput.mixed2">
                                                 <!-- <p class="help-block"></p> -->
                                             </div>
                                         </div>
                                         <!-- city input-->
                                         <div class="control-group" id="city-group">
                                             <label class="control-label">City / Town</label>
                                             <div class="controls">
                                                 <input id="city" name="city" type="text" placeholder="" class="form-control" ng-model="addressInput.locality">
                                                 <!-- <p class="help-block"></p> -->
                                             </div>
                                         </div>
                                         <!-- region input-->
                                         <div class="control-group" id="region-group">
                                             <label class="control-label">State / Province / Region</label>
                                             <div class="controls">
                                                 <input id="region" name="region" type="text" placeholder="" class="form-control" ng-model="addressInput.region">
                                                 <!-- <p class="help-block"></p> -->
                                             </div>
                                         </div>
                                         <!-- postal-code input-->
                                         <div class="control-group" id="postal-code-group">
                                             <label class="control-label">Zip / Postal Code</label>
                                             <div class="controls">
                                                 <input id="postal-code" name="postal-code" type="text" placeholder="" class="form-control" ng-model="addressInput.postcode">
                                                <!-- <p class="help-block"></p> -->
                                             </div>
                                         </div>
                                         <!-- country select -->
                                         <div class="control-group" id="country-group">
                                             <label class="control-label">Country Code</label>
                                             <div class="controls">
                                                 <input id="country-code" name="country-code" type="text" placeholder="" class="form-control" ng-model="addressInput.country">
                                                 <!-- <p class="help-block"></p> -->
                                             </div>
                                         </div>
                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- tabpanel 1-->
                            <div role="tabpanel" class="tab-pane" id="format2">
                                <div class="panel panel-default">                            
                                     <div class="panel-body">
                                         Format 2 - WIP
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="format3">
                                <div class="panel panel-default">                            
                                     <div class="panel-body">
                                         Format 3 - WIP
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="format4">
                                <div class="panel panel-default">                            
                                     <div class="panel-body">
                                         Format 4 - WIP
                                    </div>
                                </div>
                            </div>
                        </div>    
                                                        
                        <hr />
      		            <button type="submit" id="cleanseButton" name="cleanse" value="cleanse" class="btn btn-primary" ng-click="cleanse()">Cleanse</button>
                           
      		        </fieldset>
      		    </form>
      		</div> <!-- address form -->
        </div> <!-- row: address input -->
    </div> <!-- main container -->
                    
    <footer>
	    <div id="footer">
	      <div class="container">
	        <p class="text-muted">
	        Copyright &copy; <script type="text/javascript">d = new Date;document.write(d.getFullYear());</script> <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">SAP AG</span><br/>
	        </p>
	      </div>
	    </div>
    </footer>


  <!-- JavaScript at the bottom for fast page loading -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
    <script>
        $('#myTabs a').click(function (e) 
        {
 		 	e.preventDefault();
  			$(this).tab('show');
		});
    </script>
</body>
</html>
